{% comment %}
{% if product.metafields.inventory.ShappifySale == "true" %}<div class="sales_gif" style="width: 25%;
    height: auto;
    position: absolute;
    z-index: 88;
    top: -3%;
    right: -3%;">
            <img src="https://cdn.shopify.com/s/files/1/0854/5504/files/GIF.gif?13029">
          </div>
<style>
.bold-sales-text {
 display: inline-flex;
 margin: 10px 10px 25px;
 color: black;
 border: solid 2px black;
 padding: 10px 10px 10px;
}
</style>
{% endif %}
{% endcomment %}