 <div class="rte rte--indented-images">
     <div class="vip_list_main">
         <div class="bn-custom-vip-list">
             <h1>VIP LIST</h1>
             <h2>SIGN UP NOW</h2>
             <h3>EXCLUSIVE DISCOUNTS & EARLY ACCESS</h3>
             <div class="vip_form_content klaviyo-form-PGsuNd"></div>
             <p class="vip_order_txt">*NEW MEMBERS ONLY.</p>
         </div>
     </div>
 </div>

{% schema %}
  {
    "name": "Image with newsletter BN",
    "class": "index-section image-with-text",
    "settings": [
	  {
        "type": "text",
        "id": "image_link_bn",
        "label": "Image Link"
      }
      
       
      
    ],
    "presets": [
      {
        "name": "Image with newwsletter BN",
        "category": "Image"
      }
    ]
  }
{% endschema %}
