$(function() {
    $(window).width() < 460 && $(".slick_banner").slick({
        slidesToShow: 1,
        dots: !1,
        arrows: !1,
        autoplay: !1,
        autoSpeed: 3e3,
        speed: 300,
        slidesToScroll: 1,
        centerPadding: "60px",
        centerMode: !0
    });
     $(".banner_bottom_slick").slick({
        slidesToShow: 2,
        dots: !0,
        arrows: !0,
        autoplay: !0,
        autoSpeed: 3e3,
        speed: 300,
        nextArrow: '<button class="a-arrow-next a-arrows"></button>',
        prevArrow: '<button class="a-arrow-prev a-arrows"></button>',
        slidesToScroll: 1,
        responsive: [{
            breakpoint: 480,
            settings: {
                infinite: !0,
                autoplay: !0,
                autoSpeed: 3e3,
                speed: 300,
                arrows: !1,
                slidesToShow: 1,
                dots: !0,
                slidesToScroll: 1
            }
        }]
    }); $(".product_slick").slick({
        slidesToShow: 2,
        dots: !0,
        arrows: !0,
        nextArrow: '<button class="a-arrow-next a-arrows"></button>',
        prevArrow: '<button class="a-arrow-prev a-arrows"></button>',
        slidesToScroll: 1,
        responsive: [{
            breakpoint: 480,
            settings: {
                infinite: !0,
                arrows: !1,
                slidesToShow: 1,
                dots: !1,
                slidesToScroll: 1
            }
        }]
    });
    $(".product_slick-unisex").slick({
        slidesToShow: 1,
        dots: !0,
        arrows: !0,
        nextArrow: '<button class="a-arrow-next a-arrows"></button>',
        prevArrow: '<button class="a-arrow-prev a-arrows"></button>',
        slidesToScroll: 1,
        responsive: [{
            breakpoint: 480,
            settings: {
                infinite: !0,
                arrows: !1,
                slidesToShow: 1,
                dots: !1,
                slidesToScroll: 1
            }
        }]
    });

//     let allFaqs=document.querySelector(".desc-all-headers");
	
// 	var acc = document.querySelector(".desc-item");
// 	for (let i = 0; i < acc.length; i++) {
//   acc[i].addEventListener("click", function() {
//     this.classList.toggle("active");
//     var panel = this.nextElementSibling;
//     if (panel.style.maxHeight) {
//       panel.style.maxHeight = null;
//       panel.style.padding = "0";
//     } else {
//       panel.style.maxHeight = panel.scrollHeight + "20px";
//       panel.style.padding = "10px";
//     } 
//   });
// }

     $(".desc-item").on("click", function() {
     	$(".desc-all-body").each(function(index,element){
     		$(element).css({
     			maxHeight: 0
     			
     		});
     		$(element).removeClass("active");
     		$(element).closest('.desc-item ').removeClass("active");
     		$(element).closest('.desc-item ').removeClass("desc-active");
     	});
     	let heightPlus = 40;
     	if($(window).width() < 460){
     		heightPlus = 80;
     	}
        
        let elementHeight = $(this).find('.desc-all-body').prop('scrollHeight')+heightPlus;
        $(this).find('.desc-all-body').css({
        	maxHeight:elementHeight
        });
        	$(this).addClass("active");
        	$(this).find('.desc-all-body').addClass('active');
        
        // $(".desc-item").removeClass("g-active"), $(this).addClass("g-active"), $(`#${o}`).show()
    })
}), $("#featured-collection-bn").slick({
    slidesToShow: 5,
    dots: !0,
    arrows: !0,
    autoplay: !0,
    autoSpeed: 3e3,
    speed: 300,
    nextArrow: '<button class="a-arrow-next a-arrows"></button>',
    prevArrow: '<button class="a-arrow-prev a-arrows"></button>',
    slidesToScroll: 1,
    responsive: [{
        breakpoint: 480,
        slidesToShow: 1,
        settings: {
            infinite: !0,
            autoplay: !0,
            autoSpeed: 3e3,
            speed: 300,
            arrows: !1,
            slidesToShow: 1,
            dots: !0,
            slidesToScroll: 1
        }
    }]
});