{% include 'aaa_mem_helper' with 'page' %}<!-- /templates/page.liquid -->	
<div class="bn_vip_list_notificatin_container">
  <h1 class="bn_vip_list_notificatin_container_text">Please note if you have previously signed</h1>
</div>
  <div class="rte rte--indented-images">
   	<div class="vip_list_main">
     <div class="bn-custom-vip-list">
   <h1 >VIP LIST</h1>
       <h2>SIGN UP NOW</h2>
   <h3>EXCLUSIVE DISCOUNTS & EARLY ACCESS</h3>
  <div class="vip_form_content klaviyo-form-PGsuNd"></div>
   <p class="vip_order_txt">*NEW MEMBERS ONLY.</p>
   </div>
</div>
  </div>
